@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

:root {
  --black: #151518;
  --grey: #4e4e50;
  --dark-red: #6f2232;
  --light-red: #c3073f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

.App {
  background: var(--black);
  min-height: 100vh;
}
header {
  margin: auto;
  max-width: 1250px;
  border-bottom: 1px solid var(--grey);
  font-size: 2rem;
  padding: 1rem 0.5rem;
  color: var(--light-red);
}
header p {
  color: var(--dark-red);
}
#input-slider {
  font-size: 1.5rem;
  color: var(--grey);
}
.visual {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
